<div id="uiMenu" class="hasBorderShadow">
	<div id="btnInventory" class="btn" data-ui="inventory">
		<div class="icon"></div>
	</div>
	<div id="btnEquipment" class="btn" data-ui="equipment">
		<div class="icon"></div>
	</div>
	<div id="btnPassives" class="btn" data-ui="passives">
		<div class="icon"></div>
		<div class="points"></div>
	</div>
	<div id="btnReputation" class="btn" data-ui="reputation">
		<div class="icon"></div>
	</div>
	<div id="btnOnline" class="btn" data-ui="online">
		<div class="icon"></div>
	</div>
	<div id="btnLeaderboard" class="btn" data-ui="leaderboard">
		<div class="icon"></div>
	</div>
	<div id="btnHelp" class="btn" data-ui="help">
		<div class="icon"></div>
	</div>
	<div id="btnMainMenu" class="btn" data-ui="mainMenu">
		<div class="icon"></div>
	</div>
	<div id="btnCollapse" class="btn">
		<div class="icon"></div>
	</div>
</div>
