<div class="uiLogin">
	<img class="logo" src="images/logo_CWB.png" alt="">
	<div class="right hasBorderShadow">
		<div class="label">Compte</div>
		<input type="text" class="el textbox txtUsername" placeholder="username">
		<div class="label">MDP</div>
		<input type="password" class="el textbox txtPassword" placeholder="password">
		<div class="top-buttons">
			<div class="el btn btnRegister">S'enregistré</div>
			<div class="el btn btnLogin">Connexion</div>
		</div>
		<div class="message"></div>
	</div>
	<div class="news" location="https://github.com/acsid/cawbemmo">[ GITHUB ]</div>
	<div class="extra">
		<div class="el btn btnWiki" location="http://00stack.in">00stack</div>
	</div>
	<div class="version" location="#">DEV</div>
</div>
