@import "../../../css/colors.less";

@boxPadding: 27px;

.uiCredits {
	border: 5px solid @blackB;
	background-color: @blackC;
	text-align: center;
	width: 500px;
	height: 712px;

	> .heading {
		color: @blueA;
		width: 100%;
		height: 36px;
		background-color: @blackB;
		position: relative;

		.heading-text {
			padding-top: 8px;
			margin: auto;
		}
	}

	.content {
		width: 100%;
		height: calc(100% - 36px);
		overflow-y: scroll;

		.section {
			height: calc(100% / 4);
			border: 2px solid @grayC;
			margin-bottom: 8px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-evenly;
		}

		.textbox {
			width: 100%;
			height: auto;
			background-color: @black;
			border: 2px solid @grayC;
			color: @white;
			margin-bottom: 8px;

			p.rawtxt {
				white-space: pre-line;
				margin: 0px;
			}
		}

		.btn {
			background-color: @blueC;
			width: calc((100% - @boxPadding) / 2);
			float: left;
			color: @white;
			margin-bottom: 8px;

			&:last-child {
				margin-right: 0px;
			}
			&:hover {
				background-color: @blueB;
			}
		}
	}
}
