<div class="uiCredits hasBorderShadow">
	<div class="heading">
		<div class="heading-text">${credits.pageTitle}</div>
	</div>
	<div class="content">
		<div class="section isleward">
			<div class="el textbox">
				<p class="rawtxt">${credits.isleward}</p>
			</div>
			<div class="el btn homepage" data-href="https://www.isleward.com/">${credits.homepage}</div>
			<div class="el btn patreon" data-href="https://www.patreon.com/bigbadwaffle">Patreon</div>
			<div class="el btn paypal" data-href="https://www.paypal.com/donate?hosted_button_id=NEQAV3NG9PWXA">Paypal</div>
			<div class="el btn source" data-href="https://gitlab.com/Isleward/Isleward">${credits.sourceCode}</div>
		</div>
		<div class="section levikingman">
			<div class="el textbox">
				<p class="rawtxt">${credits.levikingman}</p>
			</div>
			<div class="el btn homepage" data-href="https://www.twitch.tv/levikingman">${credits.homepage}</div>
			<div class="el btn source" data-href="https://github.com/acsid/cawbemmo">${credits.sourceCode}</div>
		</div>
		<div class="section madrang">
			<div class="el textbox">
				<p class="rawtxt">${credits.madrang}</p>
			</div>
			<div class="el btn homepage" data-href="https://www.isleward.com/">${credits.homepage}</div>
			<div class="el btn source" data-href="https://github.com/madrang/cawbemmo">${credits.sourceCode}</div>
		</div>
	</div>
</div>