@import "../../../css/colors.less";

.uiMap {
	position: absolute;
	transition: left .25s, top .25s, width .25s, height .25s, transform .25s;
	aspect-ratio: 1;
}

.uiMapMini {
	border: 1px solid rgb(58,59,74);
	outline: #2d2136 2px solid;
	background-color: rgb(157, 157, 157);
	box-shadow: inset 0px 0px 3px 3px rgb(58, 59, 74);
	left: 10px;
	top: 98px;
	width: 80px;
	height: 80px;
}

.uiMapBig {
	background-color: rgba(157, 157, 157, 0.8);
	outline: #2d2136 2px solid;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	min-width: 50%;
	max-width: 100%;
	min-height: 50%;
	max-height: 100%;
}
